:root{
    --gradient: hsl(236, 72%, 79%) , hsl(237, 63%, 64%)
}
body {
    height: 90vh;
    font-size: 15px;
    font-weight: 700;
    background-color: lightpink;
    font-family: 'https://fonts.google.com/specimen/Montserrat';
    background: url('./images/bg-top.svg'), url(./images/bg-bottom.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 27% 73%, 25% 25%;
}

.upper-content {
    margin-top: 160px;
    text-align: center;
}

.change {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.toggle {
    position : relative ;
    display : inline-block;
    flex-basis : 55px;
    height : 27px;
    background: linear-gradient(var(--gradient));
    border-radius: 15px;
    border: 1px solid black;
}
.checkbox {
    display : none;
}
.toggle:after {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: white;
}
.checkbox:checked + .toggle::after {
    left : 27px;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    height: 530px;
}

.block1,
.block3 {
    background-color: hsl(240, 78%, 98%);
    margin-top: 30px;
    padding: 0 50px;
    border-radius: 10px;
    flex-basis: 400px;
}

.block1 .storage,
.block3 .storage,
.block2 .storage {
    margin-top: -55px;
}

.block2 {
    background: linear-gradient(var(--gradient));
    padding: 0 30px;
    z-index: 1;
    border-radius: 10px;
    flex-basis: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.block1 span,
.block2 span,
.block3 span {
    font-size: 4rem;
}

.block1 h1,
.block2 h1,
.block3 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block1 p,
.block3 p {
    margin-top: -4px;
}

.block1 {
    margin-right: -10px;
}

.block1 h1,
.block1 p,
.block3 h1,
.block3 p,
.block2 h1,
.block2 p {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.block3 {
    margin-left: -10px;
}

.block1,
.block3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 470px;
}

.block1 h1,
.block3 h1 {
    font-size: 7em;
    margin-top: -2px;
    padding-bottom: 20px;
}

.learn {
    border: 0 solid;
    border-radius: 5px;
    background: linear-gradient(var(--gradient));
    margin-top: 15px;
    color: white;
}

.block1 .learn,
.block3 .learn {
    padding: 0.3rem;
}

.block2 h3 {
    margin-top: 20px;
    margin-bottom: 18px;
}

.block2 .users,
.block2 .gb {
    margin-top: -2px;
    padding-bottom: 13px;
}

.block2 h1 {
    font-size: 7em;
    margin-top: -5px;
    padding-bottom: 20px;
}

.block2 .learn1 {
    background-color: white;
    border: 0 solid;
    border-radius: 5px;
    height: 23px;
}
